---
## 1) Implement 10 combinations of Data operators ( +, -, *, /, //, %) between 2 simple arrays.
---

In [10]:
# Two arrays a and b
a = [2,3,4,8]
b = [5,2,7,8]
n = min(len(a),len(b))

In [11]:
#Multiplication
print("Multiplicatiion of two arrays : ")
for i in range(n):
  print(a[i] * b[i])

Multiplicatiion of two arrays :
10
6
28
64

In [12]:
#Addition
print("Addtion of two arrays : ")
for i in range(n):
  print(a[i] + b[i])

Addtion of two arrays :
7
5
11
16

In [13]:
#Subtraction
print("Subtraction of two arrays : ")
for i in range(n):
  print(a[i] - b[i])

Subtraction of two arrays :
-3
1
-3
0

In [14]:
#Division
print("Division of two arrays : ")
for i in range(n):
  print(a[i] / b[i])

Division of two arrays :
0.4
1.5
0.5714285714285714
1.0

In [15]:
#Multiplication and Division
print("Division by 2 to the multiplication of two arrays  : ")
for i in range(n):
  print((a[i] * b[i])/2)

Division by 2 to the multiplication of two arrays  :
5.0
3.0
14.0
32.0

In [16]:
#Floor Division
print("Floor Divison of two arrays : ")
for i in range(n):
  print(a[i] // b[i])

Floor Divison of two arrays :
0
1
0
1

In [17]:
#Modulus
print("Remainder of the division of two arrays : ")
for i in range(n):
  print(a[i] % b[i])

Remainder of the division of two arrays :
2
1
4
0

In [18]:
#Power
print("Power of two arrays : ")
for i in range(n):
  print(a[i] ** b[i])

Power of two arrays :
32
9
16384
16777216

In [19]:
#Multiplication and Addtion
print("Multiplication of the sum of two arrays by two : ")
for i in range(n):
  print((a[i] + b[i])*2)

Multiplication of the sum of two arrays by two :
14
10
22
32

In [20]:
#Modulus and Subtraction
print("Subtration of 2 from the modulus of two arrays  : ")
for i in range(n):
  print((a[i] % b[i])-2)

Subtration of 2 from the modulus of two arrays  :
0
-1
2
-2

---
## 2) Implement 2 examples each of " For " loop and " While " loop
---

In [24]:
# For Loop

# Example 1
print("This is Example 1 : ")
arr = [20,30,44,7,5]
for i in arr:
  print(i)

# Example 2
print("This is Example 2 : ")
for i in range(0,5):
  print(i)

This is Example 1 :
20
30
44
7
5
This is Example 2 :
0
1
2
3
4

In [26]:
# While Loop

#Example 1
print("This is Example 1 : ")
i = 0
while i < 5:
  print(i)
  i+=1

#Example 2
print("This is Example 2 : ")
i = 2
while i <= 10:
  print(i)
  i+=2

This is Example 1 :
0
1
2
3
4
This is Example 2 :
2
4
6
8
10